*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}
header{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
main{
    margin-top: 20px;
}
footer{
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}